{% extends 'blog/home.html' %}
{% load humanize%}
{% load static %}

{% block title%}{{profile.username|title}}{% endblock %}

{% block heading %}
<div class="mx-auto max-w-2xl lg:mx-0">
    <div class="relative flex items-center gap-x-4">
        {% if profile.profile.dp %}
            <img src="{{MEDIA_ROOT}}{{profile.profile.dp.url}}" alt="{{profile.username}}" class="h-24 w-24 rounded-full bg-gray-50">
        {% else %}
            <img src="{% static 'img/profile.png' %}" alt="{{profile.username}}" class="h-24 w-24 rounded-full bg-gray-50">
        {% endif %}
        <div class="text-sm leading-6 flex-1">
        <div class="flex justify-between items-start flex-wrap w-full">
          <div class="flex-1">
            <p class="font-semibold text-lg text-gray-900">
              <a href="{% url 'blog:profile' profile.username%}">
                @{{profile.username}}
              </a>
              <p class="text-gray-600 font-semibold">{{profile.get_full_name|title}}</p>
            </p>
          </div>
          <div class="flex gap-2">
            {% if user == profile %}
              <a class="btn-secondary items-baseline gap-2" href="{% url 'blog:user_edit' profile.username %}"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
            {%else%}
              {% if profile in user.profile.follows.all %}
                <a class="btn-action items-baseline gap-2" href="{% url 'blog:user_unfollow' profile.username %}"><i class="fa-solid fa-minus"></i> <div>Unfollow</div></a>
              {% else %}
                <a class="btn-action items-baseline gap-2" href="{% url 'blog:user_follow' profile.username %}"><i class="fa-solid fa-plus"></i> <div>Follow</div></a>
              {% endif %}
            {%endif%}   
          </div>
        </div>
        <p class="text-gray-600 line-clamp-2 font-normal">{{profile.profile.bio}}</p>
      </div>
    </div>

  </div>
{% endblock %}

{%block subheading %}
<div>
  <span class="text-lg font-normal">
    <span class="font-semibold">{{ posts.count|intcomma }}</span> posts
  </span>
  <a href="{% url 'blog:user_following' profile.username%}" class="text-lg font-normal">
      <span class="font-semibold">
          {% if profile.profile %}{{ profile.profile.follows.count|intcomma }}{% else %}0{% endif %}
      </span> following
    </a>
  <a href="{% url 'blog:user_followers' profile.username%}" class="text-lg font-normal">
      <span class="font-semibold">
          {% if profile.profile %}{{ profile.profile.followers.count|intcomma }}{% else %}0{% endif %}
      </span> followers
  </a>

</div>
{%endblock%}

{% block list_title %}{{page_title}}{% endblock %}