{% extends 'bloga/base.html' %}

{% block title %}{{user.username}}{%endblock%}

{% block content %}
<div class="mx-auto max-w-7xl px-6 lg:px-8 bg-white py-24 sm:py-32">
    <div class="px-4 sm:px-0">
        <h3 class="text-base font-semibold leading-7 text-gray-900">Profile Information</h3>
        <p class="mt-1 max-w-2xl text-sm leading-6 text-gray-500">Personal details.</p>
    </div>
    <div class="mt-6 border-t border-gray-100">
        <dl class="divide-y divide-gray-100">
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">Full name</dt>
                <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{user.fullname}}</dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">Username</dt>
                <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">@{{user.username}}</dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">Email address</dt>
                <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">{{user.email}}</dd>
            </div>
            <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                <dt class="text-sm font-medium leading-6 text-gray-900">Account Type</dt>
                <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                    {% if author %}
                        Author
                    {% else %}
                        Reader
                    {% endif %}
                </dd>
            </div>
            {% if author %}
                <div class="px-4 py-6 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-0">
                    <dt class="text-sm font-medium leading-6 text-gray-900">Bio</dt>
                    <dd class="mt-1 text-sm leading-6 text-gray-700 sm:col-span-2 sm:mt-0">
                        {{author.bio}}
                    </dd>
                </div>
            {% endif %}
            <div class="flex gap-2"><button class="btn-primary" onclick="openModal('editModal')">Edit
                    Information</button>
                    {% if not author%}
                    <button class="btn-action" onclick="openModal('becomeBloga')">Become A
                    Bloga</button>
                    {% endif %}
            </div>
            </dlv>
    </div>
</div>
<!-- Modal -->
<div id="editModal"
    class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden backdrop-blur-sm opacity-0 duration-300 transition-opacity h-screen overflow-y-auto">
    <div class="bg-white rounded-lg p-6 max-w-md m-6 mt-24 w-full">
        <h2 class="text-xl font-bold mb-4 text-center">Update Information</h2>
        <form id="updateForm" method="POST" enctype="multipart/form-data">
            {{profile_form.hidden_tag()}}
            <div class="flex justify-center relative">
                <label class="block text-sm font-medium" for="file_input">
                    <div type="button"
                        class="focus:outline-none group ring-secondary focus:ring-4 focus:ring-secondary focus:ring-offset-4 focus:ring-offset-white rounded-full">
                        {% if user.profile_picture %}
                            <img class="h-24 w-24 rounded-full"
                            src="{{url_for('static', filename=user.profile_picture)}}"
                            alt="{{user.fullname}}"" id="profilePicture">
                        {% else %}
                            <img class="h-24 w-24 rounded-full"
                        src="{{url_for('static', filename='img/profile.png')}}"
                        alt="Guest" id="profilePicture">
                        {% endif %}
                        <div
                            class="h-24 w-24 rounded-full bg-[#00000066] text-sm text-white absolute font-semibold justify-center items-center top-0 hidden group-hover:flex">
                            <div>EDIT</div>
                        </div>
                    </div>
                </label>
            </div>
            <!-- Username -->
            <div class="mb-4">
                <label for="fullname" class="block text-sm font-medium">{{profile_form.fullname.label}}</label>
                {{profile_form.fullname}}
            </div>

            <!-- Bio -->
            {% if author.bio %}
                <div class="mb-4">
                    <label for="bio" class="block text-sm font-medium">Bio</label>
                    <textarea id="bio" minlength="50" name="bio" class="mt-1 block w-full border border-gray-300 rounded-md p-2"
                        rows="3">{{author.bio}}</textarea>
                </div>
            {% endif %}

            <!-- Profile Picture -->
            <div class="mb-4 hidden">
                {{profile_form.profile}}
            </div>

            <!-- Old Password -->
            <div class="mb-4">
                <label for="oldPassword" class="block text-sm font-medium">Old Password</label>
                {{profile_form.old_password}}
            </div>

            <!-- New Password -->
            <div class="mb-4">
                <label for="newPassword" class="block text-sm font-medium">New Password</label>
                {{profile_form.new_password}}
            </div>

            <!-- Confirm New Password -->
            <div class="mb-4">
                <label for="confirmPassword" class="block text-sm font-medium">Confirm New Password</label>
                {{profile_form.confirm_password}}
            </div>

            <!-- Buttons -->
            <div class="flex justify-end">
                <button type="button" class="mr-2 btn-primary" onclick="closeModal('editModal')">Cancel</button>
                {{profile_form.update}}
            </div>
        </form>
    </div>
</div>
{% if not author %}
<div id="becomeBloga"
    class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 hidden backdrop-blur-sm opacity-0 duration-300 transition-opacity h-screen overflow-y-auto">
    <div class="bg-white rounded-lg p-6 max-w-md m-6  w-full">
        <h2 class="text-xl font-bold mb-4">Become a Bloga</h2>

        <form method="POST">
            {{bloga_form.hidden_tag()}}

            <!-- Bio -->
            <div class="mb-4">
                <label for="bio" class="block text-sm font-medium">{{bloga_form.bio.label}}</label>
                {{bloga_form.bio}}
            </div>


            <!-- Buttons -->
            <div class="flex justify-end">
                <button type="button" class="mr-2 btn-primary"
                    onclick="closeModal('becomeBloga')">Cancel</button>
                {{bloga_form.become_a_bloga}}
                </div>
        </form>
    </div>
</div>
{% endif%}

{% endblock %}