{%extends 'blog/base.html'%}

{%block title%}Error - 500 {%endblock%}

{%block content%}

<main class="grid min-h-full place-items-center bg-white px-6 py-24 sm:py-32 lg:px-8">
    <div class="text-center">
        <p class="text-3xl font-semibold text-secondary">500</p>
        <h1 class="mt-4 text-3xl font-bold tracking-tight text-primary sm:text-5xl">It's Not you it's us</h1>
        <p class="mt-6 text-base leading-7 text-gray-600">
            There seems to be a system Hiccup. Our IT are working on it
        </p>
        <div class="mt-10 flex items-center justify-center gap-x-6">
            <a href="{% url 'blog:home' %}"
                class="btn-primary">Go
                back home</a>
                <a href="https://wa.me/255682951872?text=Hello,%20I%20need%20support" class="text-sm font-semibold text-primary">
                    Contact support <span aria-hidden="true">&rarr;</span>
                </a>
                
        </div>
    </div>
</main>

{%endblock%}